*{
  color:#fff;
}
html
body{
  width:100%;
  background-color: black;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width:200px;
  border:2px solid #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color:#222;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;;
}
.card p{
  margin: 20px 0px;
}
.card button{
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 5px;
}